:host{
    border-radius: 20px;
    padding: 20px;
    min-height: 100px;
    background-color: #e2e2e2;
    box-shadow: 0 14px 26px rgb(0 0 0 / 45%);
    margin: 20px auto;
    display: flex;
    align-items: center;
}

.product{
    width: 90%;
    border-radius: 20px;
    padding: 20px;
    min-height: 100px;
    background-color: #fffbff;
    box-shadow: 0 14px 26px rgb(0 0 0 / 4%);
    margin: 20px auto;
    display: flex;
    align-items: center;
    gap: 15px;
    h2, p{
        margin: 0;
    }
    h3{
        margin: 10px;
    }
    a, i{
        color: #178ED4;
        animation: animatedColor 5s infinite alternate linear;
    }
    a{
        margin-left: auto;
    }

}