@keyframes backgroundColor {
	0% {background: #20C6AA;}
	100% {background: #178ED4;}   
}
@keyframes animatedColor {
	0% {color: #20C6AA;}
	100% {color: #178ED4;}
    
}
#header{
    width: 125%;
    height: 350px;
    background-color: #20C6AA;
    border-radius: 100%;
    top: -100px;
    left: -10%;
    right: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: backgroundColor 5s infinite alternate linear;
    .favs-modal{
        position: absolute;
        right: 150px;
        top: 120px;
        font-family: 20px;
        color:  white;
    }
    button{
        border: none;
        margin-top: 250px;
        width: 100px;
        height: 100px;
        color: white;
        background-color: transparent;
        position: relative;
        opacity: 50%;
        &.active {
            opacity: 100%;
        }
        &.active:after {
            position: absolute;
            top: 50%;
            left: 45%;
            font-size: 33px;
            content: "·";
        }
    }
    input{
        width: 300px;
        border-radius: 20px;
        padding: 10px;
        background-color: #fffbff;
        border: solid 2px grey;
        box-shadow: 0 0 14px rgb(0 0 0 / 10%);
    }
}


.product{
    width: 90%;
    border-radius: 20px;
    padding: 20px;
    min-height: 100px;
    background-color: #fffbff;
    box-shadow: 0 0 14px rgb(0 0 0 / 10%);
    margin: 20px auto;
    display: flex;
    align-items: center;
    gap: 15px;
    h2, p{
        margin: 0;
    }
    h3{
        margin: 10px;
    }
    a, i{
        color: #178ED4;
        animation: animatedColor 5s infinite alternate linear;
    }
    a{
        margin-left: auto;
    }
}

.seeMore{
    display: block;
    border-radius: 50%;
    padding: 10px;
    color: #fffbff;
    animation: backgroundColor 5s infinite alternate linear;
    border: none;
    box-shadow: 0 0 14px rgb(0 0 0 / 10%);
    margin: 20px auto;
}


.favourites{
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}