<div id="header">

    <div class="favs-modal" (click)=seeFavs() alt="seeMore">
        <i *ngIf="!modalFavs" class="fa fa-star-o" aria-hidden="true"></i>
        <i *ngIf="modalFavs" class="fa fa-star" aria-hidden="true"></i>
    </div>

    <div class="button-wrapper">
        <button [ngClass]="filterBy === 'title' ? 'active' : ''" (click)="changeFilter('title')">title</button>
        <button [ngClass]="filterBy === 'price' ? 'active' : ''" (click)="changeFilter('price')">price</button>
        <button [ngClass]="filterBy === 'description' ? 'active' : ''" (click)="changeFilter('description')">description</button>
        <button [ngClass]="filterBy === 'email' ? 'active' : ''" (click)="changeFilter('email')">email</button>
    </div>
    
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <input id="name" type="text" formControlName="searchInput">
    </form>
    <button style="display: none" type="submit">Submit</button>
</div>


<div class="product" *ngFor="let product of productsView; index as i">
    <img [src]=product.image alt=product.title style="width: 100px; height: 100px; object-fit: cover;" >
    <div class="content">
        <h2>{{ product.title }}</h2>
        <p>{{ product.description }}</p>
        <h3>{{ product.price }} €</h3>
    </div>
    <a href=mailto:{{product.email}}>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </a>
    <span (click)=addToFav(product)>
        <i *ngIf="!isFav(product)" class="fa fa-star-o" aria-hidden="true"></i>
        <i *ngIf="isFav(product)" class="fa fa-star" aria-hidden="true"></i>
    </span>
</div>

<button *ngIf="showMore" class="seeMore" alt="seeMore" (click)="seeMore()"><i class="fa fa-chevron-down"></i></button>

<app-favourites *ngIf="modalFavs" [favouritesProducts]=productsFav (change)="addToFav($event)" class="favourites"></app-favourites>
